body{
    background-image: url("/static/img/bg.jpg"); 
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: rgba(  0, 0, 0 ,0);
    
}
.header{
    background-color:  rgba( 255, 255, 255 ,0.7);
    color: black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.head{
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
    
}
hr{
    border-color: black;
   
}

.destitle{
    font-size: 30px;
    font-family: 'Concert One', cursive;
}
.desc{
    padding-left: 20px;
    font-family: 'Overlock', cursive;
    font-size: 18px;
    padding-bottom: 20px;
  
}
ul{
    padding-top: 20px;
   
}
#posts{
    float: left;
}
a{
    margin-top: 10px;
 
}
table {
    margin-top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

