{%extends 'base.html' %}
{% load static%}

{% block styles%}
{{block.super}}
<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Patua+One|Philosopher" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% for hood in hoods %}
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
  <div class="panel panel-info">
    <div class="panel-heading">{{hood.name}}</div>
    <div class="panel-body">
    <p class="desc">{{hood.description}}</p>
     <p class="locale">{{hood.location}}</p>
    </div>
    <div class="panel-footer">
    <a href ="{% url 'joinhood' hood.id %}" class="btn btn-primary btn-md">Join</a>
     {% if hood.user_id ==  user.id%}
      <a href ="/edithood/{{hood.id}}" class="btn btn-info btn-md">Edit hood</a>

        <a href ="/deletehood/{{hood.id}}" class="btn btn-danger btn-md">       <span class="glyphicon glyphicon-trash"></span>
        </a>
    {% endif %}
    </div>
  </div>
</div>
{% endfor%}
</div>
{% endblock%}